.container-fluid{
  background-color: #2C3E50;
  height: 100px;
}

nav{
  background-color: red;
  height: 100px;
}

.jumbotron{
  background-color: #1ABC9C;
}

.jumbotext{
  text-align: center;
  color: #fff;
}

.starcont{
  height: 40px;
  line-height: 40px;
  width:100px;
  text-align: center;
}

.hr{
  border-bottom: 4px solid #fff;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}

.jumbotext > ul{
  height: 100px;
  line-height: 100px;
}

.jumbotext > ul > li{
  display: inline-block;
  margin-right: 15px;
}
