/* classi nav */
.bl-navbar {
  background-color: #2c3e50;
  color: #fff;
}

.bl-navbar .navbar-brand, .bl-navbar .navbar-nav>li>a {
  color: #fff;
}

.bl-navbar .navbar-brand {
  font-size:24px;
  font-weight: bolder;
}

.bl-navbar .navbar-nav>li>a {
  font-weight: bolder;
}

.bl-navbar .navbar-brand:hover, .bl-navbar .navbar-nav>li>a:hover {
  color: #1ABC9C;
}
/* classi nav fine */

/* inizio jumbotron */

.jumbotron-fluid{
  background-color: #1ABC9C;
  height: 600px;
  color: white;
  text-align: center;
}

#avatar{
  width:30%;
  height: auto;
}

.star-separator i {
  line-height: 4px;
  vertical-align: middle;
}

.star-separator::before,
.star-separator::after {
  content: '';
  display: inline-block;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  vertical-align: middle;
}

.star-separator.star-white::before, .star-separator.star-white::after {
  background-color: white;
}

.star-separator.star-white{
  color:white;
}

.star-separator.star-dark::before, .star-separator.star-dark::after {
  background-color: #2c3e50;
}

.star-separator.star-dark{
  color:#2c3e50;
}

.qualification{
  font-size: 30px;
  font-weight: bolder;
}
/* fine jumbotron */

/* inizio portfollio */
.portcont{
  height: 100%;
  background-color: #fff;
  text-align: center;
}

#work{
  width:70%;
  height: auto;
}
/* fine portfollio */

/* inizio about */
.aboutcont{
  background-color: #1ABC9C;
  height: 400px;
  color: white;
  text-align: center;
}
/* fine about */
