.container-fluid{
  height: 100px;
  background-color: #2C3E50;
}

nav{
  background-color: red;
  height: 100%;
}

.jumbotron-fluid{
  background-color: #1ABC9C;
  height: 600px;
  color: white;
}

.jumbocont{
  text-align: center;
}

 .jumbocont > img{
  width:40%;
  height: auto;
}

.hr{
  border-bottom: 4px solid #fff;
  width: 20px;
  vertical-align: middle;
}

.jumbocont > ul{
  height: 100px;
  line-height: 100px;
}

.jumbocont > ul > li{
  display: inline-block;
  margin-right: 15px;
}

.wbtext::after,.wbtext::before {
  content: "-";
  font-size: 20px;
}

.portfolio{
  height: 100%;
}

.portfoliocont{
text-align: center;
}

.row > img{
 width:80%;
 height: auto;
}

.hr2{
  border-bottom: 4px solid #2C3E50;
  width: 20px;
  vertical-align: middle;
}

.about{
    background-color: #1ABC9C;
    height: 600px;
}

.aboutcont{
  text-align: center;
  color: #fff;
}

.aboutcont > ul{
  height: 100px;
  line-height: 100px;
}

.aboutcont > ul > li{
  display: inline-block;
  margin-right: 15px;
}
